<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppConfiguration" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="User" value="" />
    <add key="Password" value="" />
  </appSettings>  
  <AppConfiguration>
    <add key="DefaultDelayBetweenSteps" value="2000" />
    <add key="AutoIncreaseDelay" value="true"/>
    <add key="FetchRetries" value="3"/>
    <add key="Day1Duration" value="9:15:00"/>
    <add key="Day2Duration" value="9:15:00"/>
    <add key="Day3Duration" value="9:15:00"/>
    <add key="Day4Duration" value="9:15:00"/>
    <add key="Day5Duration" value="7:30:00"/>
  </AppConfiguration>
</configuration>
